* {
    margin: 0px;
    padding: 0px;
    border: border-box;
    box-sizing: border-box;
    font-family:  sans-serif;
}


#logoImage{
    height: 60px;
    width: 60px;
    /* margin-top: 20px; */
    border-radius: 20px;
    margin-right: 10px;
}

.textDesign {
    font-size: 50px;
    text-align: center;
/*     font-family: 'Times New Roman', Times, serif; */
    font-weight: 700;
    font-style: italic;
    text-decoration: underline;
    bottom: 40px;
}

#navbar {
    height: 80px;
    width: 100%;
    background: rgb(7, 2, 18);
    background: linear-gradient(0deg, rgb(25, 6, 56) 0%, rgb(33, 24, 87) 72%, rgb(31, 31, 97) 96%, rgb(1, 1, 10) 98%, rgba(89, 99, 212, 0.01) 100%, rgba(252, 176, 69, 1) 100%);
    /* background-color: rgb(89, 99, 212); */
    display: flex;
    justify-content: space-around;
}
.space{
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#navbar0 {
    text-decoration: none;
    color: white;
    font-family: Helvetica, sans-serif;
    line-height: 50px;
    font-size: 1.6em;
    font-weight: 900;
    text-shadow: .5px .5px rgb(63, 61, 61);
    /* position: relative;
    bottom:20px;
    left:10px; */
}

.nava {
    color: white;
    font-family:  sans-serif;
    font-weight: 400;
    text-decoration: none;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: 400;
}
.nava:hover{
    transition: all 0.3s linear;
    font-weight: 600;
    padding:5px;
    border:2px solid yellow;
    border-radius:5px;
}

@media (max-width:950px) {
    #navbar {
        height: auto;
        width: 100%;
        /* background-color: rgb(89, 99, 212); */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-around;
        align-content: space-around;
    }
}

@media (max-width:500px) {
    #navbar {
        height: auto;
        width: 100%;
        /* background-color: rgb(89, 99, 212); */
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: space-around;
        align-content: space-around;
    }

}

.space {
    margin-left: 10px;
    margin-right: 10px;
}

#design1 {
    height: 420px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

#designPart {
    height: 400px;
}

#typingAnimation {

    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bolder;

}

@media(max-width:1200px) {

    #designPart {
        height: 260px;

    }

    #typingAnimation {
        font-size: 1.5rem;
    }
}

@media(max-width:480px) {
    #designPart {
        height: 230px;
        margin-top: 20px;
    }
}

@media(max-width:395px) {
    #designPart {
        height: 230px;
        width: 260px;
    }

    #typingAnimation {
        font-size: 1rem;
    }
}

#box {
    display: flex;
    color: rgb(6, 10, 61);
    animation-name: typing;
    animation-duration: 12s;
    animation-timing-function: steps(15.5);
    animation-delay: 5s;
    animation-iteration-count: 20;
    overflow: hidden;
    /* background-color: white; */
}

@keyframes typing {
    0% {
        border-right: 2px solid black;
        width: 0%;
    }

    100% {
        border-right: 2px solid black;
        width: 100%
    }
}

#containerFeatureBox {
    height: 200px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}



@media (max-width:1200px) {
    #containerFeatureBox {
        height: auto;
    }
}

.featureBox {
    height: 160px;
    width: 130px;
    border-radius: 10px;
    /* background-color: rgb(89, 99, 212); */
    background: rgb(7, 2, 18);
    background: linear-gradient(0deg, rgb(25, 6, 56) 0%, rgb(33, 24, 87) 72%, rgb(31, 31, 97) 96%, rgb(1, 1, 10) 98%, rgba(89, 99, 212, 0.01) 100%, rgba(252, 176, 69, 1) 100%);
    box-shadow: 4px 4px 2px rgb(8, 1, 1);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 18px;
}
 
.featureBox:hover{
    transform: scale(1.1);
}
.featureBox:active{
    transform: scale(1);
}

.removeUnderline {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 2px white;
    font-size: 1.3rem;
    text-align: center;

}

#boxContainer {
    width: 100%;
    /* background-color: rgba(89, 99, 212, .3); */
    background: rgb(15, 4, 39);
    /* background: linear-gradient(0deg, rgb(25, 6, 56) 0%, rgb(33, 24, 87) 72%, rgb(31, 31, 97) 96%, rgb(1, 1, 10) 98%, rgba(89, 99, 212, 0.01) 100%, rgb(19, 17, 117) 10%); */
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 30px;
}


#image1 {
    height: 270px;
    width: 230px;
    background-image: url("assest/easyway\ logo.jpg");
    background-size: contain;
    background-repeat: no-repeat;
    border: 1p x solid black;
    border-radius: 30px;
    margin-top: 50px;
    /* box-shadow: 6px 6px rgb(89, 99, 212); */
}



#promoImage2{
    height: 400px;
    width: auto;
    border: 2px solid white;
    border-radius: 30px;
}

@media( max-width:500px){
   

#promoImage2{
    height: 360px;
    width: 90%;
    margin: 10px;
    margin-top: 30px;
} 
}

#Detail {
    font-size: 12px;
    ;
    font-family: Arial, Helvetica, sans-serif;

}

.line {
    height: 2px;
    background-color: rgb(116, 116, 116);

}

.gap {
    height: 60px;
}

.gap1 {
    height: 30px;
}

.imgContainer {
    height: 500px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.step1 {
    width: 700px;
    font-size: 24px;
    color: black;
    font-style: italic;
    font-weight: 200;
    text-shadow: 0.5px 0.5px black;

}
.step1 h1{
    font-weight:bold;
}

@media(max-width:1300px) {
    .imgContainer {
        height: auto;
        /* margin: 20px; */
    }

    .step1 {
        font-size: 20px;
        margin: 40px;
    }
}

.smallLine {
    height: 1px;
    background-color: rgb(91, 87, 87);
    width: 100%;
}

@media(max-width:485px) {
    .stepImg {
        height: 300px;
    }
     .textDesign{
        font-size: 25px;
       font-style: normal;
       text-decoration: none;
        font-weight: bold;
    }
    .step1 {
        font-size: 13px;
        font-weight:300;
        margin: 20px;
        font-style: normal;
    }
    .step1 h1{
font-weight: 400;
    }
}

.joinLink {
    text-align: center;
}

#iconContainer {
    height: 500px;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    align-content: center;
}

#iconborder {
    height: 400px;
    width: 500px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;

}

#icon {
    font-size: 50px;
    margin: 50px;

}

#icon:hover {
    transform: scale(1.1);
}

#iconborder div h3 {
    text-align: center;
}

a {
    text-decoration: none;
    color: rgb(3, 3, 77);
}

#designIcons {
    height: 600px;
}

@media(max-width:1100px) {
    #iconContainer {
        height: auto;
    }

    #designIcons {
        height: 400px;
    }
}

@media(max-width:350px) {
    #iconContainer {
        height: auto;

    #iconborder {
        height: auto;
    }
    }

    #designIcons {
        height: 200px;
        width:250px;
    }
}

footer {
    height: 350px;
    width: 100%;
    /* background-color: rgb(89, 99, 212); */
    background: rgb(7, 2, 18);
    background: linear-gradient(0deg, rgb(25, 6, 56) 0%, rgb(33, 24, 87) 72%, rgb(31, 31, 97) 96%, rgb(14, 14, 59) 98%, rgba(89, 99, 212, 0.01) 100%, rgb(3, 5, 23) 100%);
    font-size: 22px;
    line-height: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    color: white;
    padding: 20px;
}

li {
    list-style-type: none;
}

@media(max-width:1040px) {
    footer {
        height: auto;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

@media(max-width:250px){
    *{
        overflow:scroll;
          
    }
}

